public List<BeerViewModel>
    TopRatedBeers { get; set; }
    public List<BreweryViewModel>
        TopRatedBreweries { get; set; }
        @model List<HomeIndexViewModel>

        <h1>Top Beers!</h1>

        @foreach (var item in Model)
        {
<p>@item.TopRatedBeers</p>
                <p>@item.TopRatedBeers</p>
                                <p>@item.TopRatedBeers</p>}
